

<h1>About</h1>
<p>
	<!--<%= link_to "One Month Rails", "http://onemonthrails.com" %>-->
	BrewBetter is a web application designed to help homebrewers create and share recipes with other homebrewers.
</p>

