
$btnPrimaryBackground: #5cbbff;

$dropdownLinkColorHover: white;
$dropdownLinkBackgroundHover: #5cbbff;

$navbarBackgroundHighlight: white;
$navbarBackground: white;
/*$navbarLinkBackgroundHover: white;*/

@import 'bootstrap';

body {
	padding-top: 60px;

}
@import 'bootstrap-responsive';


.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}


.footer {
	margin-top: 40px;
	color: $grayLight;
	a {
		color: $gray;
	}

}